.flex {display: flex;}
.col {flex-direction: column;}
.wrap {flex-wrap: wrap;}

main {flex: 1;}
a {text-decoration: none; color: inherit;}
h1 {text-align: center; font-size: clamp(2em, 2.5vw, 4em);}
h2 {text-align: center; font-size: clamp(1.5em, 1.75vw, 3em);}
* {scroll-behavior: smooth;}

body {
    margin: 0;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: "SecularOne";
}

/* Header */

header {
    z-index: 2;
    height: 400px;
    justify-content: end;
    background-image: url(https://img.freepik.com/premium-vector/marseille-cityscape-france_250484-206.jpg?w=2000);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 33%);
}

nav {
    background-color: rgb(15, 15, 15, 0.85);
    align-items: center;
    justify-content: space-between;
    color: azure;
    max-width: 100%;
    height: 60px;
    position: sticky;
    z-index: 8;
    top: 0;
}

.navlogo {padding: 0 3%;}
.navlogo img{
    height: 40px;
    width: auto;
    filter: drop-shadow(0px 0px 1px black);
}

.menu {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 100%;
}

.menu_button {
    transition: .3s;
    background-color: inherit;
    font-size: large;
    color: inherit;
    border: none;
    width: 160px;
    height: 100%;
    padding: 2%; 
    margin: auto;
}

.menu_content {
    animation: slide 300ms ease-in-out forwards;
    transform-origin: top center;
    display: none;
    text-align: end;
    position: absolute;
    width: 160px;
    right: 0;
    background-color: rgb(15, 15, 15, 0.85);
    box-shadow: 0px 16px 16px 0px rgb(0 0 0 / 25%);
    z-index: 1;
}

.menu:hover .menu_button{
    background-color: #00a1d5;
    color: black;
    transition: .3s;
}

.menu:hover .menu_content{
    display: block;
}

.menu_content a{
    display: block;
    padding: 8%;
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: #00a1d5;
}

/* Footer */

footer {
    min-height: 250px;
    background-color: rgb(32, 32, 32);
    box-shadow: 0px -4px 16px 0px rgb(0 0 0 / 25%);
    justify-content: space-around;
    align-items: center;
}

footer div{
    text-align: center;
    align-items: center;
    margin: 3% 0;
    color: white;
    min-width: 300px;
}

#Logo img {
    height: 80px;
}

#Liens img {
    height: 50px;
}

/* Animation */

@keyframes slide {
    0% {
        opacity: 0;
        transform: translate(100%, 0%);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Polices */

@font-face {
    font-family: "SecularOne";
    src: url(../fonts/Secular_One/SecularOne-Regular.ttf) format("truetype");
}