.intro{
    text-align: center;
}

.plage_prado{
    text-align: center;
}

.plage_du_catalan{
    text-align: center;
}

.plage_du_prophete{
    text-align: center;
}

.pointe_rouge{
    text-align: center;
}

.baie_des_singes{
    text-align: center;
}

.malmousque{
    text-align: center;
}

.anse-de-la-maronaise{
    text-align: center;
}

.introduction{
    text-align: center;
}