@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:rgb(30,30,40); }
section {margin: 2% 5%;}
form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #EDEDED;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #EDEDED; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#2E9AFE;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:black;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#EDEDED; }

main {
    color: white;
}

.table {overflow: auto;}
table {
  width: 100%;
  text-align: center;
  border-spacing: 0;
  overflow-y: scroll;
}
tr:nth-child(1) {
  background-color: #00a1d5;
  color: white;
}

td {
  padding: 1%;
}

tr:nth-child(2n) {
  background-color: rgba(240, 248, 255, 0.288);
}

tr {
  height: 50px;
}