.flex {display: flex;}
.col {flex-direction: column;}
main {flex: 1;}

body {
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
}

header {
    height: 80px;
    background-color: aquamarine;
    justify-content: end;
}

menu li{
    list-style: none;
}

footer {
    height: 80px;
    background-color: aquamarine;
}