.flex {display: flex;}
.col {flex-direction: column;}
main {flex: 1;}

body {
    margin: 0;
    min-height: 100vh;
    max-width: 100%;
}

header {
    height: 80px;
    background-color: aquamarine;
    max-width: 100%;
}

menu li{
    list-style: none;
    padding: 1%;
}

footer {
    height: 80px;
    background-color: aquamarine;
}